body {
    font-family: __BIBLICAL_FONT__, Georgia, serif;
    line-height: 1.5;
    margin: 2em;
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
    font-size: 2em;
    user-select: none;
}

html[lang='hbo'] {
    direction: rtl;
}

html[lang='grc'] {
    direction: ltr;
}
.chapter {
    margin-bottom: 1em;
}
.chapter-number {
    font-family: __PROJECT_FONT__;
    font-weight: bold;
    margin-right: 0.5em;
    color: #444;
}
.verse {
    display: inline;
}
.verse-number {
    font-family: __PROJECT_FONT__;
    font-size: 0.6em;
    color: black;
    vertical-align: top;
    margin-left: 0.3em;
}
.annotation-toggle {
    font-family: __PROJECT_FONT__;
    cursor: pointer;
    color: gray;
    text-decoration: none;
    vertical-align: super;
    font-size: 0.7em;
    position: relative;
    display: inline-block;
}

.annotation {
    font-family: __PROJECT_FONT__;

    color: black;
    display: block;
    position: absolute;
    left: 50%;
    transform: translateX(-50%); /* Adjust for centering */
    background-color: #f9f9f9;
    border: 1px solid #ccc;
    padding: 0.5em;
    z-index: 10;
    
    white-space: nowrap; 
    overflow-wrap: break-word; 
}
.annotation.hidden {
    display: none;
}

div[dir='rtl'] .parsing:not(:last-child), 
div[dir='rtl'] .lexical-form:not(:last-child), 
div[dir='rtl'] .gloss:not(:last-child) 
{
    margin-left: 0.5em;
}

div[dir='ltr'] .parsing:not(:last-child), 
div[dir='ltr'] .lexical-form:not(:last-child), 
div[dir='ltr'] .gloss:not(:last-child) 
{
    margin-right: 0.5em;
}

.gloss {
    font-style: italic;
}

.lexical-form {
    font-family: __BIBLICAL_FONT__, Georgia, serif;
}

.wd {
    white-space: nowrap;
}